

.starRating:not(old){
  display        : inline-block;
  width          : 65em;
  height         : 10em;
  overflow       : hidden;
  vertical-align : middle;
  margin      : 0;
  padding     : 1.5em;
  font-family : sans-serif;
  line-height : 1.5em;

}

.starRating:not(old) > input{
  margin-left:-100%;
  opacity      : 0;

}

.starRating:not(old) > label{
  display         : inline-block;
  float           : right;
  position        : relative;
  background      : url('../../img/star-off.svg');
  background-size : contain;
  opacity: 1;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : inline-block;
  width           : 10.5em;
  height          : 10.5em;
  background      : url('../../img/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
